Some business Objectives:

* Retain customers,
* Analyze relevant customer data,
* Develop focused customer retention programs.

Based on the analysis, take targeted actions to increase profitable customer response, retention, and growth.

In [1]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 1E64-A902

 Directory of C:\Users\Admin\Documents\ironhack\Week_4\Day_1\Morning\lab-cleaning-numerical-data\files_for_lab

28-10-2022  00:38    <DIR>          .
28-10-2022  00:38    <DIR>          ..
24-10-2022  13:00    <DIR>          .ipynb_checkpoints
28-10-2022  00:38             5,011 lab_1.ipynb
24-10-2022  12:58         1,581,918 we_fn_use_c_marketing_customer_value_analysis.csv
               2 File(s)      1,586,929 bytes
               3 Dir(s)  15,239,868,416 bytes free

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#import the file
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
5,OC83172,Oregon,8256.297800,Yes,Basic,Bachelor,1/25/11,Employed,F,62902,...,94,0,2,Personal Auto,Personal L3,Offer2,Web,159.383042,Two-Door Car,Medsize
6,XZ87318,Oregon,5380.898636,Yes,Basic,College,2/24/11,Employed,F,55350,...,13,0,9,Corporate Auto,Corporate L3,Offer1,Agent,321.600000,Four-Door Car,Medsize
7,CF85061,Arizona,7216.100311,No,Premium,Master,1/18/11,Unemployed,M,0,...,68,0,4,Corporate Auto,Corporate L3,Offer1,Agent,363.029680,Four-Door Car,Medsize
8,DY87989,Oregon,24127.504020,Yes,Basic,Bachelor,1/26/11,Medical Leave,M,14072,...,3,0,2,Corporate Auto,Corporate L3,Offer1,Agent,511.200000,Four-Door Car,Medsize
9,BQ94931,Oregon,7388.178085,No,Extended,College,2/17/11,Employed,F,28812,...,7,0,8,Special Auto,Special L2,Offer2,Branch,425.527834,Four-Door Car,Medsize
10,SX51350,California,4738.992022,No,Basic,College,2/21/11,Unemployed,M,0,...,5,0,3,Personal Auto,Personal L3,Offer1,Agent,482.400000,Four-Door Car,Small
11,VQ65197,California,8197.197078,No,Basic,College,1/6/11,Unemployed,F,0,...,87,0,3,Personal Auto,Personal L3,Offer2,Agent,528.000000,SUV,Medsize
12,DP39365,California,8798.797003,No,Premium,Master,2/6/11,Employed,M,77026,...,82,2,3,Corporate Auto,Corporate L1,Offer2,Agent,472.029737,Four-Door Car,Medsize
13,SJ95423,Arizona,8819.018934,Yes,Basic,High School or Below,1/10/11,Employed,M,99845,...,25,1,8,Corporate Auto,Corporate L3,Offer2,Branch,528.000000,SUV,Medsize
14,IL66569,California,5384.431665,No,Basic,College,1/18/11,Employed,M,83689,...,10,2,8,Corporate Auto,Corporate L3,Offer4,Call Center,307.139132,Four-Door Car,Medsize
15,BW63560,Oregon,7463.139377,No,Basic,Bachelor,1/17/11,Employed,F,24599,...,50,1,2,Corporate Auto,Corporate L2,Offer2,Branch,42.920271,Four-Door Car,Medsize
16,FV94802,Nevada,2566.867823,No,Basic,High School or Below,2/6/11,Medical Leave,M,25049,...,7,0,1,Personal Auto,Personal L3,Offer2,Call Center,454.245098,Two-Door Car,Medsize
17,OE15005,California,3945.241604,No,Basic,College,1/5/11,Medical Leave,M,28855,...,59,0,1,Personal Auto,Personal L2,Offer3,Call Center,647.442031,SUV,Medsize
18,WC83389,Oregon,5710.333115,No,Basic,College,2/27/11,Employed,M,51148,...,1,0,7,Personal Auto,Personal L2,Offer2,Branch,308.981664,Four-Door Car,Medsize
19,FL50705,California,8162.617053,No,Premium,High School or Below,1/14/11,Employed,F,66140,...,21,0,3,Corporate Auto,Corporate L2,Offer1,Call Center,484.800000,Four-Door Car,Small

(9134, 24)

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [ ]:
#display gathered data
def check_gathered_data(customer_df):
    print('the shape')
    display(customer_df.shape())
    print('data head')
    display(customer_df.head())
    print('the data types')
    display(dcustomer_dfta.dtypes)
    print('data tail')
    display(customer_df.tail())
    print('data information')
    display(customer_df.info())

In [4]:
# coloumns to lower case and snake case
def convert_to_lower_snake_cases(customer_df):
    customer_df.columns.str.lower()
    customer_df.columns = customer_df.columns.str.replace(' ', '_')
    return customer_df.columns

Index(['Customer', 'State', 'Customer_Lifetime_Value', 'Response', 'Coverage',
       'Education', 'Effective_To_Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location_Code', 'Marital_Status', 'Monthly_Premium_Auto',
       'Months_Since_Last_Claim', 'Months_Since_Policy_Inception',
       'Number_of_Open_Complaints', 'Number_of_Policies', 'Policy_Type',
       'Policy', 'Renew_Offer_Type', 'Sales_Channel', 'Total_Claim_Amount',
       'Vehicle_Class', 'Vehicle_Size'],
      dtype='object')

In [5]:
#Change effective to date column to datetime format.
def convert_to_datetime_format(customer_df):
    customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'])

KeyError: 'effective_to_date'

In [ ]:
# Check NaN values per column.
def check_missing(customer_df):
    customer_df.isna().sum()
    customer_df.columns[data.isna().any()].tolist()
    
def check_null_values(customer_df):
    customer_df.isnull()

7. Define a function that differentiates between continuous and discrete variables. Hint: A number of unique values might be useful. Store continuous data into a continuous variable and do the same for discrete and categorical.

In [6]:
#discrete_list=[]
#continuous_list=[]
#categorical_list=[]

def data_type_check(customer_df):
    #    discrete = data.select_dtypes(include=['int64'])
    #    continuous = data.select_dtypes(include=['float64'])
    #    categorical = data.select_dtypes(object)

    discrete = customer_df.select_dtypes(include=['int64'])
    continuous = customer_df.select_dtypes(include=['float64'])
    categorical = customer_df.select_dtypes(object)
    return list(discrete),list(continuous),list(categorical)# returns discrete,continuous and categorical in this order  

    
discrete_list,continuous_list,categorical_list = data_type_check(customer_df)

['Income',
 'Monthly_Premium_Auto',
 'Months_Since_Last_Claim',
 'Months_Since_Policy_Inception',
 'Number_of_Open_Complaints',
 'Number_of_Policies']

8. For the categorical data, check if there is some kind of text in a variable so we would need to clean it. **Hint**: Use the same method you used in step 7. Depending on the implementation, decide what to do with the variables you get.

In [7]:
#empty strings could be concerning in the categorical data
def find_empty_strings(customer_df):
    #categorical_list_df = customer_df[categorical_list]
    categorical_list_df = customer_df[['Customer','State','Response','Coverage','Education','Effective_To_Date','EmploymentStatus','Gender','Location_Code','Marital_Status', 'Policy_Type','Policy', 'Renew_Offer_Type','Sales_Channel','Vehicle_Class','Vehicle_Size']]
    display(np.where(categorical_list_df.applymap(lambda x: x == '')))

,Customer,State,Response,Coverage,Education,Effective_To_Date,EmploymentStatus,Gender,Location_Code,Marital_Status,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Vehicle_Class,Vehicle_Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [ ]:
discrete_list=[]
continuous_list=[]
categorical_list=[]


check_gathered_data(customer_df)
convert_to_lower_snake_cases(customer_df)
convert_to_datetime_format(customer_df)
check_missing(customer_df)
check_null_values(customer_df)
data_type_check(customer_df)# discrete_list,continuous_list,categorical_list = data_type_check(customer_df) 
find_empty_strings(customer_df)# identifies the empty strings in the category df

#we can use the following to create a library of this code too
#import numerical_data_cleaner etc..